{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>{% block title %} Bestands details: {% endblock %}</h1>
    <div class="container">
        <table id="data" class="table table-striped">
            <thead>
            <tr>
                <th>UUID:</th>
                <th>Bestandsnaam:</th>
                <th>Samplerate:</th>
                <th>Datum aangemaakt:</th>
                <th>Datum upload: </th>
                <th>Lengte:</th>
                <th>Omschrijving:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ items['id'] }}</td>
                <td>{{ items['file_name'] }}</td>
                <td>{{ items['framerate'] }}</td>
                <td>{{ items['create_date'] }}</td>
                <td>{{ items['upload_date'] }}</td>
                <td>{{ items['lenght'] }}</td>
                <td>{{ items['description'] }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <audio controls="controls" autobuffer="autobuffer">
            <source src="data:audio/mpeg;base64,{{ audiofile }}">
        </audio><br>
    </div>
    <hr>
    <ul>
        <li><h6>Transcription:</h6>{{ items['transcript'] }}</li>
    </ul>
    <hr>
{% endblock %}