{% extends 'base.html' %}

{% block title %} Main {% endblock %}

{% block content %}
  <div class="container">
    <br>
    <h1>Verwerkte bestanden:</h1>
    <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>File UUID</th>
            <th>Filename</th>
          </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td><a href=" {{ url_for('details', id=item['id']) }} ">{{ item['id'] }}</a></td>
            <td>{{ item['file_name'] }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          {orderable: true, searchable: true},
          {orderable: true, searchable: true},
        ],
      });
    });
  </script>
{% endblock %}